@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;1,400&display=swap');
body{background-color: beige;}

.top-part{
    background-color: rgb(8, 8, 8);
    width: 1321px;
    margin: 0 140px 140px 140px;
    display: flex;
    justify-content: space-between;
    border-radius: 25px;
    
}

.intro{
 color: white;
display: flex;
flex-direction: column;
justify-content: center;
width: 50%;
margin-left: 70px;
margin-right: 70px;
padding: 20px;
}
.banner-img img{
    width: 500px;
    margin-top: 110px;
    margin-right: 100px;
    margin-bottom: -4px;


}

h1{
    font-size: 40px;
    font-weight: 600;
}

.watch{
    width: 20%;
    color: white;
    background-color: red;
    padding: 7px;
    border-radius: 5px;
}
.watch:hover{
    background-color: rgb(212, 167, 69);

}
/* match-blogs parts......... */

.match-blogs{
    display: flex;
    gap: 24px;
    margin: 0 140px 140px 140px;
    width: 1321px;
}

.match-left{
    padding: 5px;
    width: 312px;
    height: 312px;
    border-radius: 10px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    column-gap: 10px;
    font-size: 40px;
    align-items: center;
}

.one{
    width: 70%;
    border-radius: 10px;
    padding: 10px;
    margin-top: 35px;
}
.two{
    width: 70%;
    border-radius: 10px;
    padding: 10px;
}
.three{
    width: 70%;
    border-radius: 10px;
    padding: 10px;
    background-color: red;
    color: white;
    margin-bottom: 35px;
}
/*....... blogs parts......  */

.blogs-right{
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    column-gap: 24px;
    row-gap: 24px;
}

.match-1{
    width: 312px;
    height: 362px;
    padding: 10px;
    border: solid 1px beige;
    border-radius: 5px;

}
h5{
    border: solid 1px black; 
    width: 20%;
    text-align: center;
    border-radius: 2px;

}

.icon{
    display: flex;
    justify-content: space-between;
    margin-right: 180px;
    
}

.icon img{
    width: 18px;
    height: 18px;
    
}

.icon1{
    display: flex;
    gap: 5px;
    align-items: center;
    
}
.icon2{
    display: flex;
    gap: 5px;
    align-items: center;
}

/*----------footer-section--------- */

.footer{
    color: white;
    width: 1600px;
    background-color: #161616;
    padding: 50px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    
    

}
.footerh1{
    text-align: center;

}
hr{
    width: 1320px;
    border: 1px solid #FFFFFF1A ;
}

.footer-down{
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
    margin-left: 50px;

}

/* add icon library------------ */

.social-icon{
    margin-top: 20px;
    margin-left: 50px;
}